body {
     margin: 15px;
     padding: 10px;
     background:black ;
}

   header{
          background:red ;
          color: white;
          text-align: center;
          padding: 17px;
      }

  nav {
          background:blueviolet;
          text-align: center;
          padding: 20px;
        }
  nav a {
          color: white;
          margin: 20px;
          font-size:large;
          background-color: brown;
        }

  main {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(595px, 595px));
          grid-gap: 20px;
          padding: 20px;
        }

  .card {
          background: chartreuse; 
        }
  button {
          margin: 10px;
          padding: 5px;
          background-color: brown;
          color: white;
          text-align: center;
    
        }
 h2{
  color: brown;
  background-color: white;
  text-align: center;
}
.box{
    border: 1px solid red;
    padding: 12px;
    margin: 5px;
}
footer{
  color: red;
  background-color: white;
  text-align: center;
  padding: px;
}